.borde{
    border:1px #000000 solid;
}

.body{
    background-image: url('../imagenes/fondo_restaurante_2.jpg');
}

.panel{
    background-color: #bba98b;
    opacity: .9;
}

.panel2{
    background-color: #000000;
    opacity: .9;
}

.centrar{
    text-align: center;
}

.centrar_vertical{
    align-items: middle;
    text-align: center;
}

.justificar{
    text-align: justify;
}

h1{
    font-family:'Gill Sans';
    color: #bf930d;
    font-size: 1000%;
    text-align: center;    
}

.parrafo{
    font-size: 300%;
    text-align: center;
    color: #ffffff;
}

h3{
    font-family:'Gill Sans';
    color: #bf930d;
    font-size: 40px;
}

.qr{
    text-align: center;
    vertical-align:50%;
}

p{
    font-size: 28px;
    text-align: justify;
    color: #ffffff;
}

.piePagina{
    font-family:'Gill Sans';
    font-size: 60px;
    color: #ffffff;
}

p{
    font-size: 28px;
    text-align: center;
    color: #ffffff;
}